#root {
  margin: 0;
  text-align: center;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.history-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(36px, calc(36px + 3vw), 98px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.history-header #checkbox {
  display: none;
}

.history-header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .3s;
  scale: 0.5;

  margin-right: 0.5rem;
}

.history-header .bars {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition-duration: .3s;
}

.history-header .toggle .menu-button {
  position: absolute;
  top: 55px;
  right: 1rem;
  width: max-content;
  transition: opacity 0.3s ease-in-out, display 0.3s ease-in-out;
}


.history-header #checkbox:is(:not(:checked)) + .toggle .menu-button {
  display: none;
  opacity: 0;
}

.history-header #checkbox:checked + .toggle .menu-button {
  display: block;
  position: absolute;
  top: 55px;
}

.history-header #checkbox:checked + .toggle .menu-button:nth-child(2n+1) {
  display: block;
  position: absolute;
  top: 105px;
}

.history-header #checkbox:checked + .toggle .bars {
  margin-left: 13px;
}

.history-header #checkbox:checked + .toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: .3s;
}

.history-header #checkbox:checked + .toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: .3s;
  transform-origin: left center;
}

.history-header #checkbox:checked + .toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: .3s;
  transform-origin: left center;
}
