@font-face {
  font-family: 'Zazie';
  src: local('Zazie'), 
       url('./Zazie.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Workbench';
  src: local('Workbench'), 
       url('./Workbench-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
