@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#242424] font-sans;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}


.bot-nav-cont {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  border-radius: 12rem;
  corner-shape: squircle;
  background-color: #ffffff20;
  backdrop-filter: blur(10px);

  padding: 0.5rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 35vw;

  button {
    &:hover {
      cursor: pointer;
    }
  }
  
}

@media screen and (max-width: 640px) {
  .bot-nav-cont {
    width: 80vw;
  }
  
}
.user-view-container {
  width: 100vw;
  height: 100dvh;
  padding: 2rem;
  flex: 1;
  box-sizing: border-box;

  .button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .modify-count-button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff50;
    corner-shapee: squircle;
    border-radius: 12px;
    &:hover {
      cursor: pointer;
    }
  }
}

.history-view-container {
  width: 100%;
  box-sizing: border-box;
}